* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact {
    min-height: 100vh;
    padding: 20px 10px;
}

.contact-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.contact-box {
    height: auto;
    flex: 1 0 30%;
    margin: 20px;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.contact-box i {
    color: #A91D3A;
    font-size: 40px;
}

.contact-box h3 {
    font-size: 16px;
    color: #666;
    margin: 20px 0;
}

.form-container {
    width: 100%;
    max-width: 800px;
    box-shadow: 0 .3rem .5rem rgb(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-container1 {
    flex: 1 1 100%;
    padding: 20px;
}

.form-container2 {
    flex: 1 1 100%;
    padding: 20px;
}

.form-container1 h2 {
    font-size: 24px;
    padding-bottom: 10px;
}

.form-container1 p {
    font-size: 16px;
    padding-top: 10px;
    letter-spacing: 1px;
}

form input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 .3rem .5rem rgb(0, 0, 0, .2);
    border: none;
    outline: none;
    color: black;
}

form .inputBox {
    display: flex;
    flex-direction: column;
}

form .inputBox input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
}

form input[type="email"],
form textarea {
    width: 100%;
}

form textarea {
    height: 150px;
    resize: none;
    overflow-y: auto;
}

form input[type="submit"] {
    background: #A91D3A;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #C73659;
}

.swal2-popup {
    padding: 1rem; 
    
     /* Adjust padding if needed */
  }
  
  .swal2-confirm {
    background-color: #C73659 !important;
    color: white !important;
  }
  

@media (max-width: 768px) {
    .contact-box-container {
        flex-direction: column;
        align-items: center;
    }

    .form-content {
        flex-direction: column;
    }

    .form-container1, .form-container2 {
        width: 100%;
        padding: 20px 10px;
    }

    .form-container1 {
        padding-bottom: 20px;
    }

    form .inputBox {
        flex-direction: column;
    }

    form .inputBox input[type="text"] {
        width: 100%;
    }
}
