
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Hero Section */
.home-hero-section {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/src/Image/backgroundImage.jpg") center center/cover no-repeat;
  color: white;
}

.home-hero-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  backdrop-filter: blur(7px); /* Apply blur effect */
}

.home-hero-content {
  max-width: 800px;
  padding: 20px;
}

.hero-title {
  font-size: 55px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  color: black;
  border: 1px solid #0c0c0c;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #A91D3A;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #820b2a;
}

.hero-description {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

/* Features Section */
.home-feature-section {
  padding: 50px 20px;
  text-align: center;
}

.home-feature-section h2 {
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif ;
}

.home-features {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.home-feature {
  max-width: 300px;
}

.home-feature img {
  width: 100%;
  border-radius: 10px;
}

.home-feature h3 {
  font-size: 24px;
  margin: 20px 0 10px;
}

.home-feature p {
  font-size: 16px;
  text-align: justify;
}

/* About Section */
.home-about-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-bottom: 10px;
    color: white;
    background: url('/src/Image/about4.jpg') center center/cover no-repeat;
  }

.home-about-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(20px);
}

.home-about-content {
  max-width: 800px;
  padding-right: 20px;
}

.home-about-content h2 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-family:'Times New Roman', Times, serif ;
}

.home-about-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
}

.home-about-content ul {
  list-style-type: disc;
  padding-left: 200px;
  margin-bottom: 20px;
}

.home-about-content li {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: left;
}

.home-about-content .btn {
  background-color: #A91D3A;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.home-about-content .btn:hover {
  background-color: #820b2a;
}

.home-about-img {
  max-width: 100%;
}

/* Contact Section */
.home-contact-section {
  text-align: center;
  padding: 40px 30px;
  background-color: rgb(97, 2, 2);
  border-radius: 2%;

}

.home-contact-section h2 {
  font-size: 50px;
  font-weight:bold;
  font-family:'Times New Roman', Times, serif ;
  margin-bottom: 20px;
  color: white;
}

.home-contact-section p {
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}

.home-contact-section .btn {
  background-color: #A91D3A;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.home-contact-section .btn:hover {
  background-color: #820b2a;
}
