.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 65vh; /* Takes up the full height */
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */

  /* Background image and transparency */
  background-image: url("/src/Image/momspice.jpg"); /* Replace with your image URL */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: relative;
}

.cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    119,
    102,
    102,
    0.5
  ); /* Semi-transparent black overlay */
  z-index: 0; /* Keeps it behind the card content */
}

.cards .card {
  position: relative; /* Cards need to be on top of the overlay */
  z-index: 1; /* Ensures the cards are above the overlay */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card.red {
  background-color: #a91d3a;
}

.cards .card.blue {
  background-color: #a91d3a;
}

.cards .card p {
  color: white;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
}
