General container styling .user-profile-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 0 10px;
}
.user-profile-container {
  display: flex;
  justify-content: center;
}

/* Form styling */
.profile-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Profile photo container */
.profile-photo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer; /* Makes the entire area clickable */
}

.profile-photo-label {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Makes the label clickable */
}

.profile-photo-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Makes the image a circle */
  object-fit: cover;
  border: 2px solid #ccc;
}

.profile-photo-placeholder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 14px;
  border: 2px solid #ccc;
}
.emailusername {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.emailusername h1 {
  font-size: 13px;
  color: #888;
}

.profile-form h2 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

/* General text styling */
.profile-form p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #666;
}

/* Table and input styling */
.profile-form table {
  width: 100%;
}

.profile-form td {
  padding: 10px 0;
  font-size: 1rem;
}
.profile-form .file {
  color: #fff;
  /* margin-bottom: 95px; */
}

.profile-form .text {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-form label {
  margin-right: 10px;
}
.profile-form .radio {
  color: #a91d3a;
}
.profile-form .radio:hover {
  color: #a91d3a;
  background-color: #a91d3a;
}

.profile-form input[type="file"] {
  width: 100%;
}

/* Button styling */
.btn {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ccc;
  color: #000;
}

.save-btn {
  background-color: #a91d3a;
  color: #fff;
}

.save-btn:hover {
  background-color: #c73659;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  .profile-form {
    padding: 15px;
  }

  .profile-photo-preview,
  .profile-photo-placeholder {
    width: 80px;
    height: 80px;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
  }
}
